@font-face {
    font-family: 'MinstrelPosterTwoNF';
    src: url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.eot');
    src: url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.eot') format('embedded-opentype'),
         url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.woff2') format('woff2'),
         url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.woff') format('woff'),
         url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.ttf') format('truetype'),
         url('fonts/MinstrelPosterTwoNF/fonts/MinstrelPosterTwoNF.svg#MinstrelPosterTwoNF') format('svg');
}
