@import ../commons/variable

.aboutpage
  min-height: calc(100% - 160px - 70px)
  text-align: center
  @media(max-width: 800px)
    height: 1200px
  .container
    display: inline-block
    height: 100%
    position: absolute
    transform: translate(-50%, 0)
    .grid
      position: absolute
      height: 100%
      width: 100%
      +size(100%, 100%)
      border: solid 2px $color_black
      // overflow: hidden
      display: grid
      grid-template-columns: 250px auto
      grid-template-rows: 35% auto 100px
      grid-template-areas: "header header""mail intro""mail intro"
      @media(max-width: 800px)
        grid-template-areas: "header""intro""mail"
        grid-template-columns: auto
        grid-template-rows: 300px 300px
      .top
        background-image: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.2)), url("./imgs/cover2.jpg")
        background-position: center center
        background-size: cover
        grid-area: header
        background-color: purple

      .social
        grid-area: social
        background-color: $color_primary_inverse

      .mail
        grid-area: mail
        background-color: $color_primary
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h2
          +size(150px, 40px)

      .about
        color: $color_white
        font-weight: 200
        padding: 20px
        grid-area: intro
        background-image: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url("./imgs/mixer.jpg")
        background-position: center center
        background-size: cover
        display: flex
        flex-direction: column
        align-items: center
        h2
          margin: 24px
        p
          +size(80%, 50%)
          letter-spacing: 1px
          // border: solid 1px $color_white
          word-wrap: break-word
          white-space: pre-wrap
          font-size: 20px
